[graph]
targets = [
  "x86_64-unknown-linux-musl",
  "x86_64-unknown-linux-gnu",
  # Some people apparently use xwin on macs, but that's on them
  # "x86_64-apple-darwin",
  # "aarch64-apple-darwin",
]
all-features = true

[advisories]
ignore = []

[licenses]
allow = ["MIT", "Apache-2.0", "BSD-3-Clause", "ISC", "Unicode-3.0"]
exceptions = [
  { allow = ["CDLA-Permissive-2.0"], name = "webpki-roots" },
]

[bans]
multiple-versions = "deny"
deny = []
skip = [
  { crate = "getrandom@0.2.17", reason = "ring use this old version, lol" },
]
skip-tree = []

[sources]
unknown-registry = "deny"
# Lint level for what to happen when a crate from a git repository that is not
# in the allow list is encountered
unknown-git = "deny"
allow-git = []
